.hero-img {
  height: 400px;
  background-image: url(landing-page/hero.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: aquamarine;
}

.hero-img input {
  height: 40px;
  width: 80%;
  border: none;
  border-radius: 17px;
  padding: 0px 10px;
}

input:focus {
  border: none;
  outline: 0px;
}
.city-container {
  margin: 10px auto;
}

.city {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}
.city img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s;
}

.city img:hover {
  filter: brightness(0.5);
  transform: scale(1.2);
}

.city-text {
  position: absolute;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  text-align: center;
}
.city-adv{
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  height: 100%; 
  overflow: hidden;
  /* border: 1px solid gray; */
}
.city-adv img{
  height: 80%;
  width: 100%;
  border-radius: 11px 11px 0px 0px;
}

.adv-container {
  margin: 10px auto;
}
.details{
  margin-top:10px;
  margin-bottom:10px;
  /* height: 80vh;
  width: 90vw; */
}
footer {
    background-color: #ccc;
    padding: 15px;
    text-align: center;
  }
  
  